{% extends "auctions/layout.html" %}

{% block body %}
    <h2>All Categories</h2>
    <div id="activelist">
    {% for list in cat_list %}
    <div class = "card">
        <a class="title bg-light" href={% url 'cat' list.category %}>{{list.category}}</a>
    </div>  
    {% endfor %}
    </div>
      
<style>
        
#activelist{

    margin-top: 4vw;
    grid-gap: 2vw;
    display:grid;
    width: 40%;
    margin-left: 30%;
    grid-template-rows: repeat(auto,1fr);
    grid-template-columns: 1fr;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.card{
    display: grid;
    grid-template-rows: repeat(auto,1fr);
    grid-template-columns: 1fr;
    width: 90%;
    margin-left: 5%;
    background-color: grey;
}

img{
        width: 100%;
    }

.title{

    font-size: 2vw;
    color:black;
}
.listuser{
    font-weight: bold;
}
button{
    width: 100%;
}
</style>
{% endblock %}


